/*  your css code here. If applicable */
.hero{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.hero-left{
	width: 75%;
}
.hero-left img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.hero-right{
	width: 25%;
}

.hero-right button{
	padding: 8px 16px;
	background-color: red;
	color: white;
	border-radius: 2px;
	border: none;
}



